<h1>User list</h1>

<table class="table" style = "border-collapse: collapse; border:1px solid black;">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Posts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users;">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Title</th>
                      <th scope="col">Body</th>
                      <th scope="col">Last update</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let post of user.posts;">
                      <th scope="row">{{post.id}}</th>
                      <td>{{post.title}}</td>
                      <td>{{post.body}}</td>
                      <td>{{post.last_update}}</td>
            </table>
        </td>
      </tr>
    </tbody>
  </table>










<!-- <ul class="list-group">
    <li *ngFor="let user of users; odd as isOdd; even as isEven">
        <div *ngIf="isEven" class="list-group-item list-group-item-primary">
        <span name="teat"> {{user.id}} </span>
        <span> {{user.name}} </span>
        <span> {{user.email}} </span>
        <div *ngFor="let p of user.posts">
            <span> {{ p.id }}</span>
            <span> {{ p.body }} </span>
        </div>
        </div>
        <div *ngIf="isOdd" class="list-group-item list-group-item-dark">
            <span> {{user.id}} </span>
            <span> {{user.name}} </span>
            <span> {{user.email}} </span>
            <div *ngFor="let p of user.posts">
                <span> {{ p.id }}</span>
                <span> {{ p.body }} </span>
            </div>
            </div>
    </li>
</ul> -->